<div class="max-w-7xl mx-auto px-4 py-6 mt-10">
  <h2 class="text-2xl font-bold text-white mb-4">Requested Rides</h2>

  <% active_requested = @requested.reject { |b| b.cancelled_by.present? } %>
  <% cancelled_requested = @requested.select { |b| b.cancelled_by.present? } %>

  <% if active_requested.blank? %>
    <p class="text-white mb-4">You don't have any active requested rides.</p>
  <% else %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-6">
      <%= render partial: 'bookings/cards', collection: active_requested, as: :booking, locals: { show_countdown: false } %>
    </div>
    
  <% end %>

  <% if cancelled_requested.any? %>
    <details class="mb-6 rounded-lg p-4 bg-white bg-opacity-10">
      <summary class="cursor-pointer text-white font-medium mb-2">
        Show Rejected Requests (<%= cancelled_requested.count %>)
      </summary>
      
      <div class="mt-3">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <%= render partial: 'bookings/cards', collection: cancelled_requested, as: :booking %>
        </div>
      </div>
    </details>
  <% end %>



  <div class="mt-16">
    <h2 class="text-2xl font-bold text-white mb-4">Booked Rides</h2>

    <% active_ongoing = @ongoing.reject { |b| b.cancelled_by.present? } %>
    <% cancelled_ongoing = @ongoing.select { |b| b.cancelled_by.present? } %>

    <% if active_ongoing.blank? %>
      <p class="text-white mb-4">You don't have any active ongoing rides.</p>
    <% else %>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-6">
        <%= render partial: 'bookings/cards', collection: active_ongoing, as: :booking, locals: { show_countdown: true } %>
      </div>
    <% end %>

    <% if cancelled_ongoing.any? %>
      <details class="mb-6 rounded-lg p-4 bg-white bg-opacity-10">
        <summary class="cursor-pointer text-white font-medium mb-2">
          Show Cancelled Rides (<%= cancelled_ongoing.count %>)
        </summary>

        <div class="mt-3">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <%= render partial: 'bookings/cards', collection: cancelled_ongoing, as: :booking %>
          </div>
        </div>
      </details>
    <% end %>

      <% if active_ongoing.blank? && cancelled_ongoing.blank? %>
        <%= link_to "Back to Home", home_path,
              class: "inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-1 px-3 rounded-md shadow-md no-underline transition-colors duration-200" %>
      <% end %>

  </div>
</div>







