<div class="p-10">
  <h2 class="text-2xl font-bold text-gray-800 mb-6">Pending Booking Requests</h2>

  <% if @requests.blank? %>
    <div>
      <p class="text-gray-700 text-md mb-4">You haven't received any booking requests yet.</p>
      <%= link_to "Back to Home", home_path, class: "inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2.5 px-6 rounded-md shadow-md no-underline transition-colors duration-200" %>
    </div>
  <% else %>
    <div class="space-y-6"> 
      <% @requests.each do |booking| %>
      <div class="border p-4 rounded mb-4 shadow bg-white">
        <p><strong>Vehicle:</strong> <%= booking.vehicle.model %></p>
        <p><strong>Customer:</strong> <%= booking.user.name %></p>
        <p><strong>From:</strong> <%= booking.start_location %> → <%= booking.end_location %></p>
        <p><strong>Price:</strong> ₹<%= booking.price %></p>
        <p><strong>Mobile:</strong> <%= booking.user.mobile_no%></p>

        <% if booking.customer_accepted %>
          <p class="text-green-700 font-semibold mt-2">
            Customer accepted the proposed price: ₹<%= booking.price %><br>
          </p>
        <% else %>
          <%= form_with url: propose_price_booking_path(booking), method: :patch, local: true, class: "mt-2 flex gap-2 items-center" do %>
            <%= number_field_tag :proposed_price, booking.proposed_price || booking.price, step: 1, class: "border px-2 py-1 rounded w-28" %>
            <%= submit_tag "Propose Price", class: "bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-1 rounded" %>
        <% end %>
   <% end %>


      <div class="mt-2 flex gap-2">
        <%= button_to "Accept booking", accept_booking_path(booking), method: :patch, class: "bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded" %>
        <%= button_to "Reject booking", reject_booking_path(booking), method: :patch, data: { confirm: "Are you sure to reject this?" }, class: "bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded" %>
      </div>
    </div>
<% end %>

    </div>
  <% end %>
</div>