<h1>Welcome, <%= @user.name %>!</h1>

<% if @user.userable_type == "Customer" %>
  <%= link_to "Book a Trip", vehicles_path %><br>
  <%= link_to "My Bookings", bookings_path %><br>
  <%= link_to "See Rides History", customer_ride_history_path %><br>
<% else %>
  <%= link_to "Manage Vehicles", driver_vehicles_path %><br>
  <%= link_to "Booking Requests", booking_requests_path %><br>
  <%= link_to "Ongoing Rides", driver_ongoing_path %><br>
  <%= link_to "Ride History", driver_ride_history_path %><br>
<% end %>