<!DOCTYPE html>
<html>
  <head>
    <title>VehicleBookingWebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css"> %>
    <%= tag.link href: "https://cdn.jsdelivr.net/npm/water.css@2/out/light.css", rel: "stylesheet" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
